*{
margin: 0px;
padding: 0px;
}


.navbar-dark{
    background-color: rgb(17, 19, 102);
}

.txt-color{
    color:white;
    text-shadow: 0.4px 0.3px rgb(183, 225, 241);
}

.navbar-nav{
    margin-left:60px;
}
.nav-link{
    margin: auto 8px ;
}


.row-content{
    height:400px;
}    

.jumbotron{
    background-color: rgb(210, 186, 238);
}
.footer{
    background-color: rgb(130, 136, 141);
}